<Context>
   <Resource name="jdbc/igl_jndi"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="100"
              maxIdle="30"
              maxWait="10000"
              factory="org.apache.commons.dbcp.BasicDataSourceFactory"
              username="igl-admin"
              password=""
              driverClassName="com.mysql.cj.jdbc.Driver"

              url="jdbc:mysql://hl7v2-tcamt-users:3306/igl"/>
</Context>